<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path%>
    <%= link_to "Athlete's Den", root_path%>

    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>

    <% if user_signed_in? %>
      <p>Signed in as <%= "#{current_user.email}" %></p>
    <% end %>

    <%= flash.each do |key, message| %>
      <div class="alert alert-<%= key == "notice" ? "sucess" : "danger" %>">
        <%= message %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
